*{
    padding: 0px;
    margin: 0px;
    font-family: ProductSans;
}

@font-face {
    font-family: FacebookSans;
    src: url(../../assets/fonts/facebook-sans/FacebookSansRegular.ttf);
}

@font-face {
    font-family: ProductSans;
    src: url(../../assets/fonts/aileron/Aileron-Regular.otf);
}
#facebook_login_main_container{
    width: 100%;
    height: 825px;
    background-color: rgb(225, 225, 225);
}

/* Facebook Login-page Left-side content */
#facebook_explore{
    width: 869px;
    height: 83.7%;
    float: left;
    background-color: white;
}

#facebook_icon_image{
    width: 60px;
    margin: 45.65px 0px 0px 45.65px;
}

#explore_paragraph{
    margin: 209px 0px 0px 40px;
}

#you_love_content{
    color: royalblue;
    margin-left: 40px;
    float: left;
}

.explore_contents_blocks{
    font-family: FacebookSans;
    font-size: 60px;
    font-weight: bold;
    line-height: 1.108;
}

#dot_content{
    float: left;
}

#facebook_social_image{
    width: 467px;
    float: right;
    margin: -460.5px 83.5px 0px 0px;
    /* background-color: blueviolet; */
}

/* Facebook Login-page Right-side content */
#login_to_facebook_container{
    width: 650px;
    height: 690px;
    background-color: white;
    float: right;
}

#feature_elements_container{
    width: 100%px;
    height: 500px;
    margin-left: 52.5px;
    margin-right: 85.5px;
    /* background-color: red; */
}

#login_to_facebook_heading{
    font-family: ProductSans;
    font-size: 17px;
    font-weight: 500;
    margin-top: 133px;
    margin-left: 53px;
}

.input_elements{
    width: 100%;
    height: 26px;
    font-size: 15px;
    border-radius: 15px;
    border: 1.65px solid rgb(215, 215, 215);
}

#email_address_or_phone_number_inputbox{
    font-weight: 400;
    /* float: left; */
    margin-top: 22.75px;
    padding: 15px;
}

#password_inputbox{
    margin-top: 12.5px;
    padding: 15px;
}

.button_elements{
    width: 545.5px;
    height: 44px;
    font-size: 15px;
    text-align: center;
    border-radius: 21.5px;
    cursor: pointer;
}

#login_button{
    margin-top: 25px;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(45, 88, 216);
}

#forgotten_password_button{
    margin-top: 12.5px;
    border: none;
    outline: none;
    background-color: transparent;
}

#create_new_account_button{
    border: 1.5px solid rgb(82, 82, 254);
    color: rgb(82, 82, 254);
    background-color: transparent;
    margin-top: 52px;
}

#forgotten_password_button:hover{
    background-color: rgb(240, 240, 240);
}
#create_new_account_button:hover{
    background-color: rgb(240, 240, 240);
}

#meta_icon_logo_image{
    width: 60px;
    margin: 27.5px 52.5% 0px 47.5%;
    /* background-color: aqua; */
}

/* Facebook Login-page Footer content */
#facebook_login_footer_container{
    width: 100%;
    height: 20.5%;
    background-color: white;
    float: left;
    margin-top: 1.75px;
}

#footer_contents{
    font-size: 15px;
    font-weight: normal;
    color: rgb(110, 110, 110);
    margin: 30.75px 0px 0px 225px;
    /* background-color: aqua; */
}

.languages{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 32px;
}
.facebook_meta_services{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    padding-right: 12px;
}
.terma_and_conditions{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 12px;
}
.meta_copyright{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.facebook_services{
    margin-top: -3px;
}