*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: ProductSans;
}
@font-face{
    font-family: ProductSans;
    src: url(../../../assets/fonts/Product\ Sans\ Regular.ttf);
}
body{
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#explore_button{
    width: 70vw;
    height: 60vh;
    background-color: greenyellow;
    outline: none;
    border: none;
    border-radius: 30vh;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    position: relative;
    cursor: pointer;
}
#explore_content{
    font-size: 12vw;
    font-weight: bold;
}
#compass_logo{
    width: 270px;
    height: 180px;

    position: absolute;
    /* offset properties */
    top: 150px;
    left: 672.5px;
}

#compass_container{
    width: 20vw;
    height: 20vw;
    color: white;
    background-color: black;
    border-radius: 50%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#explore_button:hover>#compass_container{
    animation: animateCompassContainer 5000ms linear infinite normal both;
}
#compass_needle{
    width: 10vw;
    height: 10vw;
    background-color: greenyellow;
    transform: skew(30deg);
    border-radius: 5px;
    z-index: 2;
}
#compass_support{
    width: 35px;
    height: 35px;
    background-color: black;
    border-radius: 50%;
    z-index: 3;
}
#compass_shaft{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    z-index: 4;
}
.compass_tools{
    position: absolute;
}
@keyframes animateCompassContainer{
    /* first keyframe */
    from{
        transform: rotate(0deg);
    }
    /* last keyframe */
    to{
        transform: rotate(360deg);
    }
}