@font-face {
    font-family: ProductSans;
    src: url(../../../assets/fonts/Product\ Sans\ Regular.ttf);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: ProductSans;
}

body{
    /* background-color: aqua; */
    padding: 20px;
}

#topic_heading{
    font-size: 50px;
    text-align: center;
}

#parent_block{
    width: 200px;
    height: 200px;
    background-color: black;
    cursor: pointer;
}

#child_block{
    width: 50%;
    height: 50%;
    background-color: white;
}

/* child selector(>) */
#parent_block:hover>#child_block{
    background-color: orange;
}

#grand_parent_element{
    width: 200px;
    height: 200px;
    background-color: gray;
}

.apply_same_dimensions{
    width: 50%;
    height: 50%;
}

#parent_element{
    background-color: yellowgreen;
}

#child_element{
    background-color: gray;
}

#grand_child_element{
    background-color: greenyellow;
}

#great_grand_child_block{
    background-color: gray;
}

/* descendent selector (space) */
#grand_parent_element:hover #child_element{
    background-color: black;
}

#parent_element:hover #grand_child_element{
    background-color: white;
}

#grand_parent_element:hover #great_grand_child_element{
    background-color: black;
}

.color_blocks{
    width: 100px;
    height: 100px;
    float: left;
    cursor: pointer;
}

#navy_color_block{
    background-color: navy;
}

#light_gray_color_block{
    background-color: lightgray;
}

#black_color_block{
    background-color: black;
}

#orange_color_block{
    background-color: orange;
}

#white_color_block{
    background-color: white;
}

#green_color_block{
    background-color: green;
}

/* 
adjacent sibling selector
general sibling selector
 */

#navy_color_block:hover+#light_gray_color_block{
    background-color: black;
}

#navy_color_block:hover~#black_color_block{
    background-color: lightgray;
}

#orange_color_block:hover{   
    background-color: green;
}

#orange_color_block:hover~#green_color_block{   
    background-color: red;
}