/* 
from line 2 to 10 we have to mandatorily type in every css file
*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* 
customized downloaded font
*/
@font-face {
    font-family: ProductSans;
    src: url(../../../assets/fonts/Product\ Sans\ Regular.ttf);
}

#google_doodles_container{
    width: fit-content;
}

.google_doodles{
    font-size: 120px;
    font-family: ProductSans;
    font-weight: bold;
    float: left;
}

.royalblue_doodles{
    color: royalblue;
}
.red_doodles{
    color: red;
}

#o_doodle{
    color: orange;
}
#l_doodle{
    color: green;
}

.google_doodle_marquees{
    height: 350px;
}