*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 20px;
}

.color_gradient_blocks{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid black;
    float: left;
}

#linear_gradient_block{
    background-image: linear-gradient(to bottom right, orange 50%, white, green);
}

#radial_gradient_block{
    background-image: radial-gradient(circle at bottom right, violet, indigo, blue, green, yellow, orange, red);
}

#conic_gradient_block{
    background-image: conic-gradient(violet, indigo, blue, green, yellow, orange, red);
}

#background_image_block{
    width: 500px;
    height: 500px;
    float: right;
    border-radius: 25%;
    background-color: peachpuff;
    background-image: url(../../../assets/images/BasketBall.png);
    background-size: 50%;
    background-repeat: no-repeat;

    /* Specific: background-position properties */
    background-position-x: 50%;
    background-position-y: 50%;
    /* Shorthand: background-position properties */
    background-position: 80% 80%;
}